* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
.logo {
  width: 100px;
  height: 50px;
}
.logo img {
  width: 100%;
  height: 100%;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 40px;
  position: relative;
  z-index: 1;
}
li {
  list-style: none;
}
.radius {
  width: 17px;
  height: 17px;
  background-color: rgb(250, 110, 60);
  border-radius: 50%;
  position: absolute;
  left: 12px;
  top: 4px;
  z-index: -1;
}
.qipper-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.main-qipper-text-flex {
  display: flex;
}
.text-vs-btn {
  display: flex;
  gap: 20px;
}